<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-14PP3JHWRK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-14PP3JHWRK');
    </script>
    <title>CV Stan Bruyere</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CV en ligne Stan Bruyere">
    <link rel="shortcut icon" href="favicon.png">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS-->
	<script defer src="assets/fontawesome/js/all.min.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/orbit-1.css">
</head> 

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="assets/images/profile.png" alt="" />
                <h1 class="name">Stan Bruyere</h1><br>
                <h4>Développeur d'application Python/Django</h4>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fas fa-envelope"></i><a href="mailto: stan.bruyere01@gmail.com">stan.bruyere01@gmail.com</a></li>
                    <li class="phone"><i class="fas fa-phone"></i><a href="tel:0629361961">06 29 36 19 61</a></li>
                    <li class="website"><i class="fas fa-globe"></i><a href="http://www.stan-bruyere.com/" target="_blank">stan-bruyere.com</a></li>
                    <li class="linkedin"><i class="fab fa-linkedin-in"></i><a href="https://linkedin.com/in/stan-bruyere" target="_blank">linkedin.com/in/stan-bruyere</a></li>
                    <li class="github"><i class="fab fa-github"></i><a href="https://github.com/stan-kempachi" target="_blank">github.com/stan-kempachi</a></li>
                    <li class="twitter"><i class="fab fa-twitter"></i><a href="https://twitter.com/standev8" target="_blank">@standev8</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Formation</h2>
                <div class="item">
                    <h4 class="degree">Développeur d'application Python/Django</h4>
                    <h4 class="degree">Titre RCNP niveau BAC+3/4</h4>
                    <h5 class="meta">Openclassrooms</h5>
	                    <div class="time">2018 - 2020</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">BTS audiovisuel, metiers du son</h4>
                    <h5 class="meta">Cifacom </h5>
                    <div class="time">2009 - 2010</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">BAC STI, Génie électrotechnique</h4>
                    <h5 class="meta">Lycée Langevin Wallon </h5>
                    <div class="time">2006 - 2008</div>
                </div><!--//item-->
            </div><!--//education-container-->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">Langues</h2>
                <ul class="list-unstyled interests-list">
                    <li>Français <span class="lang-desc">(Natif)</span></li>
                    <li>Anglais <span class="lang-desc">(Professionel)</span></li>
                </ul>
            </div><!--//interests-->
            
            <div class="interests-container container-block">
                <h2 class="container-block-title">Intérêts</h2>
                <ul class="list-unstyled interests-list">
                    <li>Coder</li>
                    <li>Mangas-Animes</li>
                    <li>Cuisiner</li>
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-user"></i></span>Mon Profil</h2>
                <div class="summary">
                    <p> Je suis en recherche active de mon premier emploi en tant que
                        Développeur d'application Python.</p>
                    <p>Mes atouts ?
                        Mes compétences relationnelles acquises lors de mes dernières expériences professionnelles: </li>
                    </p>
                    <p>
                        <li>L'écoute, l'analyse d'une demande client et la mise en place d'une solution adaptée</li>
                        <li>La recherche permanente de la satisfaction du client</li>
                        <li>Un bon sens du relationnel de l'humilité et de la patience.</li>
                        <li>L'envie d’apprendre pour monter facilement et plus rapidement en compétences.</li>
                        <li>Empathique et a le sens du service en s’impliquant dans la vie d'une équipe et d'un projet.</li>
                    </p>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Chargé de clientèle</h3>
                            <div class="time">2011 - 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Veolia Eau d'Ile de France, Saint-Maurice</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                        <li>Traitement des demandes clients par mail ou téléphone</li>
                        <li>Traitement et suivi de dossier</li>
                        <li>Tutorat, reporting de bilan d'activité d'équipe</li>
                        <li>Organisation d'événements d'entreprises</li>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Chargé de clientèle technique et DATA</h3>
                            <div class="time">2010 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">SFR, Massy</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                        <li>Traitement des demandes clients par téléphone</li>
                        <li>Dépannage et paramétrage des configurations DATA sur smartphones et clés 3g</li>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Infographiste</h3>
                            <div class="time">2007 - 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Jahida SARL, Champigny</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                        <li>Assurer la publication et mise en page d'un catalogue de e-commerce</li>
                        <li>Photographie, retouches Photoshop, mise en ligne de produits</li>
                        <li>Assurer le service clientèle, visites fournisseurs</li>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
            
            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>Projets</h2>
                <div class="intro">
                    <p>Liste de projets libres réalisés dans le cadre de ma formation de développeur d'application  .</p>
                </div><!--//intro-->
                <div class="item">
                    <button style="background-color:#42A8C0"><span class="project-title"><a href="https://www.dropbox.com/s/4yhm4n6byapmhb7/demo%20cv%20comparateur%20%28online-video-cutter.com%29.mp4?dl=0" target="_blank"><b>Comparateur éléctroménager</b></a></span></button> - <span class="project-tagline">Une plateforme Django possédant deux scrappers, qui affiche les prix des références produits cherchées. Possède une tache de mise à jour quotidienne de la base de donnée.</span>
                </div><!--//item-->
                <div class="item">
                    <button style="background-color:#42A8C0"><span class="project-title"><a href="https://pbeurre.herokuapp.com/pbeurre/" target="_blank"><b>Pbeurre</b></a></span></button> - <span class="project-tagline">Une plateforme Django qui permet de rechercher un aliment et de trouver un substitut possédant un meilleur nutriscore. </span>
                </div><!--//item-->
                <div class="item">
                    <button style="background-color:#42A8C0"><span class="project-title"><a href="https://grandpyrobot.herokuapp.com/" target="_blank"><b>Grandpybot</b></a></span></button> - <span class="project-tagline">Une plateforme Flask possédant un chat Ajax permettant de discuter avec un bot qui vous répond comme votre grand-père ! Si vous lui demandez l'adresse d'un lieu, il vous la donne agrémentée d'un long récit très intéressant.</span>
                </div><!--//item-->

            </section><!--//section-->
            
            <section class="skills-section section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>Skills</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Python &amp; Django</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                               
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">PoSQL &amp; MySQL</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                              
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Bootstrap</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="progress level-bar">
							    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Photoshop</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                 
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
            
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small>
        </div><!--//container-->
    </footer><!--//footer-->
        
</body>
</html> 

